/* Nav.js */
.nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
  margin-top: 35px;
}

.user-menu {
  background-color: #d9dedf;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu:hover {
  cursor: pointer;
  opacity: .5;
}

.user-initial {
  font-family: "lust", serif;
  font-size: 36px;
  color: #383e40;
}

.open-menu {
  position: fixed;
  margin-top: 75px;
}

.menu-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9dedf;
  margin-top: 25px;
}

.menu-button:hover {
  cursor: pointer;
  opacity: .5;
}

.menu-button img {
  width: 20px;
}

/* Index.js */

.index-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.bored-display-index {
  font-family: "lust", serif;
  font-size: 144px;
  color: white;
  margin: 0;
}

/* Form.js */

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(110deg, white 50%, transparent 20%);
}

.form-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 30px;
  margin-left: 30px;
}

.form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bored-logo {
  font-family: "lust", serif;
  color: #383e40;
  font-size: 80px;
  margin: 0;
  margin-bottom: 40%;
}

.bored-intro {
  font-size: 30px;
  color: #383e40;
  margin: 0;
}

/* Search.js */

.search-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.search-header {
  display: flex;
  justify-content: space-between;
}

.search-text {
  font-size: 60px;
  margin-left: 50px;
}

.search-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-out-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-res-text {
  font-size: 64px;
  margin-top: 0;
}

.search-body-buttons {
  margin: 0px 100px;
  text-align: center;
}

.search-body-buttons:hover {
  cursor: pointer;
}

.couch-button, .car-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 177px;
  border-radius: 4px;
  background-image: radial-gradient(circle at 52% 50%, #d93a48, #931621);
}

.couch-button img, .car-button img {
  width: 100px;
}

/* Results.js */

.results-text-content {
  margin-top: 50px;
  margin-left: 50px;
}

.results-logo {
  font-family: "lust", serif;
  font-size: 80px;
  margin: 0;
}

.results-location {
  margin: 0;
  margin-top: -20px;
}

/* Account.js */
.account-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.account-header {
  display: flex;
  justify-content: flex-end;
}

.account-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-text {
  font-size: 64px;
  margin: 0;
}

.account-sub-text {
  color: #77878b;
}

.couch-account-button, .car-account-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 177px;
  border-radius: 4px;
  background-color: #d9dedf;
}

.couch-account-button img, .car-account-button img {
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="submit"], button {
  background-color: #931621;
  margin: 10px;
  padding: 10px 15px;
  border: none;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: 100;
  color: #d9dedf;
  font-size: 18px;
}

input {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  font-family: "Helvetica Neue",sans-serif;
  font-size: 13px;
}